[Unit]
Description=SeaweedFS Master
After=network.target

[Service]
Type=simple
User=seaweed
Group=seaweed

ExecStart=/usr/bin/weed server -filer -s3 -volume.max=100 -master.port=9333 -volume.port=9334 -master.volumeSizeLimitMB=4096 -dir=/silverpelt/seaweed -filer.encryptVolumeData -s3.config=/etc/seaweedfs/s3.json
WorkingDirectory=/usr/bin/
SyslogIdentifier=seaweedfs-master

[Install]
WantedBy=multi-user.target
