[Service]
Type=oneshot
ExecStart=/usr/bin/mkarbackup seaweed /home/antiraid/.dbcerts/public.pem
User=antiraid
Group=antiraid
WorkingDirectory=/home/antiraid
PrivateTmp=true
Environment="PGPORT=5434"

[Unit]
Description="Backup script for seaweed"
After=postgresql.service
Wants=network-online.target
