[Service]
Type=oneshot
ExecStart=/bin/bash -c 'zpool import -a -d /silverpelt.img || true; chown -R antiraid:antiraid /silverpelt/cdn/antiraid; chown -R seaweed:seaweed /silverpelt/seaweed'
User=root
Group=root
WorkingDirectory=/root

[Install]
WantedBy=multi-user.target

[Unit]
Description="ZFS trigger"
After=network.target
